<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--
		1、mybatis可以使用properties来引入外部properties配置文件的内容；
		resource: 引入类路径下的资源(com/mybatis/db/dbconf.properties)
		url: 引入网络路径或者磁盘路径下的资源
	  -->
	<properties resource="dbconf.properties"></properties>
	
	<!-- 
		2、settings包含很多重要的设置项
		setting:用来设置每一个设置项
			name：设置项名
			value：设置项取值
		注 : 要使用具体的某项设置可以查询官方文档
	 -->
	<settings>
		<!-- 下划线变成驼峰 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>	
	</settings>
	
	<!-- typeAliases : 别名处理器 : 可以为java类型起别名; 注 : 别名不区分大小写 -->
	<typeAliases>
		<!-- type: 为某个类起别名; 默认别名 就是employee
			alias : 指定新别名
		-->
		<!-- <typeAlias type="com.mybatis.bean.Employee" alias="Employee"/> -->
		<!-- package : 为某个包下的类批量起别名 
			name : 指定包名(为当前包和后代包下所有的类都起一个默认别名)
		-->
		<package name="com.mybatis.bean"/> 
		<!-- 批量起别名的情况下,使用 @Alias注释为某个类型指定新的别名 -->
		
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<!-- 写好的sql映射文件一定要注册到全局配置中 -->
	<mappers>
		<mapper resource="EmployeeMapper.xml" />
	</mappers>
</configuration>
